@charset "UTF-8";

$main-color: #24292E;
$button-color: #fff;

* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 130%;
}
body {
    color: $main-color;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
a {
    color: $main-color;
    text-decoration: none;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto 130px auto;
    padding: 0 4%;
    
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}

/*----------
ヘッダー
-----------*/
/*line-heightにh1タグの高さよりも小さい値を指定することでh1タグの
上下の余白が消えるため、ロゴ画像の高さと揃う
1pxと指定してもOK*/
.site-title {

    line-height: 0;
    a {
        display: block;
    }
}
#header {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    margin: 0 auto 0 70pxpx;
    padding:  0 4%;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
    font-size: 0.9rem;
    margin-left: 30px;
    a {
        color: $main-color;
    &:hover {
        opacity: 0.7;
    }
    }
}
#header .icon {
    width: 20px;
}

/*----------
mainvisual
-----------*/
#mainvisual {
    margin-bottom: 80px;
    img {
        width: 100%;
        max-width: 1920px;
        height: 420px;
        object-fit: cover;
    }
}

/*----------
about
-----------*/
#about {
    li:first-child {
        margin-bottom: 30px;
    }
    p {
        text-align: justify;
    }
}
#about ul {
    margin-bottom: 30px;
}
/*----------
works
-----------*/
#works ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 130px;
        li {
            width: 31%;
            margin-bottom: 23px;
        }
}

/*----------
news
-----------*/
#news dl {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
    dt {
        width: 20%;
        border-bottom: solid 1px #c8c8c8;
        padding: 20px;
    }
    dd {
        width: 80%;
        padding: 15px;
        border-bottom: solid 1px #c8c8c8;
        padding: 20px;
    }
}

/*----------
contact
-----------*/
#contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#contact dt {
    width: 12%;
    margin-bottom: 20px;
}
#contact dd {
    width: 88%;
    input,textarea {
        width: 100%;
        border: solid 1px #c8c8c8;
        padding: 5px;
    }
    textarea {
        height: 10rem;
    }
}
#contact  .button {
    text-align: center;
    input {
        width: 200px;
        background-color: $main-color;
        color: $button-color;
        padding: 17px;
        border: solid 1px $main-color;
        &:hover {
            background-color: $button-color;
            color: $main-color;
        }
    }
}

/*----------
footer
-----------*/
#footer {
    background-color: $main-color;
    color: $button-color;
    text-align: center;
    p {
        padding: 10px 0 10px 0;
    }
}

/*----------
SP
-----------*/
@media screen and (max-width: 600px) {
    * {
        font-size: 0.8rem;
    }
    /*----------
SP　ヘッダー
-----------*/
    #header {
        max-width: 100%;
        height: auto;
        flex-direction: column;
        li {
            font-size: 0.8rem;

        }
    }
/*----------
SP　works
-----------*/
    #works ul {
        flex-direction: column;
        li {
            width: 100%;
        }
    }
/*----------
SP　news
-----------*/
    #news {
        font-size: 0.65rem;
        dl {
            flex-direction: column;
            dt {
                border-bottom: 0;
                padding-bottom: 0;
            }
            dd {
                padding-top: 0;
            }
        }
    }
    /*----------
SP　contact
-----------*/
#contact dl {
    flex-direction: column;
    font-size: 0.7rem;
    dt {
        margin-bottom: 5px;
    }
}
#contact .button {
    font-size: 0.7rem;
}  
.sec-title {
    font-size: 1rem;
}
}
